
.features {
  padding: 3px;
  font-family: sans-serif;
  transform: translate(10px, 110px);
}

	#map{
        
        width: 600px;
        height: 630px;
        border-radius: 5%;
        border-style: none;
        box-shadow:  5px 5px 8px #ccc;
        background-color:whitesmoke;
        position: sticky;
        top: 110px;
        right:20px ;
        

    }
    .features {
    
        padding: 10px;
        font-family: sans-serif;
         transform: translate(10px,110px);
         
         
        
    }

    
    section {
        
        height: 500px;
        padding: 20px;
        line-height: 18px;
        margin: 10px 10px;
        border-bottom: 2px solid #ddd;
        opacity: 0.25;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

        box-shadow: 2px 2px 2px 2px whitesmoke;
        transform: translateX(-10px);
    }


    
    section.active {
        opacity: 1;
    }
    /* section:last-child {
        
    } */

.product {
  border: 2px solid black;
  width: 500px;
}
.locals {
  border: 2px solid black;
  width: 70%;
}
.map {
  border: 2px solid black;
}


