#map {
  width: 550px;
  height: 630px;
  border-radius: 5%;
  border-style: none;
  box-shadow: 5px 5px 8px #ccc;
  background-color: whitesmoke;
  position: fixed;
  top: 110px;
  right: 20px;
}
.features {
  padding: 3px;
  font-family: sans-serif;
  transform: translate(10px, 110px);
}

.product {
  transform: translate(110px);
}
section {
  height: 500px;
  padding: 20px;
  line-height: 18px;
  border-bottom: 2px solid #ddd;
  opacity: 0.25;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  box-shadow: 5px 5px rgb(176, 233, 176);
}
section.active {
  opacity: 1;
}
/* section:last-child {
        
    } */

.product {
  border: 2px solid black;
  width: 500px;
}
.locals {
  border: 2px solid black;
  width: 70%;
}
.map {
  border: 2px solid black;
}
