.shop > section{
height: 400px;
width: 94%;
line-height: 18px;
border: 4px red;
}

.box{

  border: 4px red;


}

.shop > h3, .box > h3, .mapbox > h3{

text-align: center;
font: bolder;
color: royalblue;
}

.boxfix{

  height: fit-content;
  width: fit-content;
}

.boxfix > img {

height: 345px;


}

.chats{
  background-color: whitesmoke;
  height: 50px;
  width: 15%;
  border-radius: 100%;
  border: none;
  transform: translate(10px,320px);
  text-align: center;
  box-shadow: 1px 1px 2px 2px turquoise;
  transition: width 1s, height 1s, border-radius 1s ease-in-out; 
  
}

.content{
  position: fixed;
}

.fa-rocketchat {
 color: aqua;
 font-size: 2rem;
 width: fit-content;
 height: fit-content;
 padding: 7px;
}

.size{
    
  width: 100vh;
  height: 20vh;  
  
}