/* .product{
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    padding: 20px;
    height: 400px;
    transform: translateX(5px);
    box-shadow: 5px 5px rgb(70, 190, 14);
    border-style: none;
} */